@model IEnumerable<zSolutions.Models.Jobs.Job>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<script>
    function showAndHideJob() {
        var x = document.getElementById("hiddenDesc");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none"
        }
    }
</script>
<p>
    <a class="btn btn-outline-dark btn-social mx-1" asp-controller="Jobs" asp-action="Create"><i class="fa-sharp fa-solid fa-square-plus"></i> </a>
</p>

@foreach (var item in Model)
{
    <div class="card" onclick="showAndHideJob()">
        <div class="container">
            <div class="row">
                <div class="col-1">@Html.DisplayFor(modelItem => item.Id)</div>
                <div class="col col-sm-7">@Html.DisplayFor(modelItem => item.Name)</div>
                <div class="col-3">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
            <div class="hiddenDesc">
                <div class="card-body">
                    <p>
                        @Html.DisplayFor(model => item.Description)
                    </p>
                </div>
                <div class="card-footer">
                    <h4 class="card-title">Links</h4>
                    <a class="btn btn-outline-dark btn-social mx-1" href="@Html.DisplayFor(model => item.GitHub)"><i class="fa-sharp fa-solid fa-github"></i> </a>

                </div>
            </div>
        </div>


    </div>
}

