@model IEnumerable<zSolutions.Models.Contact.Contact>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<div class="seperator-sm-top"></div>
@*<p>
    <a class="btn btn-outline-dark btn-social mx-1" asp-controller="Contacts" asp-action="Create"><i class="fa-sharp fa-solid fa-square-plus"></i> </a>
</p>*@

@foreach (var item in Model)
{
    <div class="card">
        <h5 class="card-header"> @Html.DisplayFor(modelItem => item.Id) | @Html.DisplayFor(modelItem => item.Name)</h5>
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Email) | @Html.DisplayFor(modelItem => item.Phone)</h5>
            <p class="card-text">
                @Html.DisplayFor(modelItem => item.Message)
                <br />
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </p>
        </div>
        <div class="card-footer">@Html.DisplayFor(modelItem => item.Send)</div>
    </div>
    <div class="seperator-sm-bot"></div>

}

<!--<div class="seperator-top"></div>-->
